<div id="home-header">


	<form ng-submit="songs.insertSong()">
        Name: <input ng-model="songs.song.name">
        Artist: <input ng-model="songs.song.artist">
        Priority: <input ng-model="songs.song.priority">
        Level: <input ng-model="songs.song.level">
        <input type="submit">
    </form>

	<table class="table table-striped">

		<thead>

			<tr>
				<th></th>
				<th>Song Name</th>
				<th>Artist</th>
				<th>Priority</th>
				<th>Level</th>
				<th>Actions</th>
		</thead>
		<tbody>	
			<tr ng-repeat="song in songs.songsList">
				<td></td>
				<td>{{song.name}}</td>
				<td>{{song.artist}}</td>
				<td>{{song.priority}}</td>
				<td>{{song.level}}</td>
				<td></td>
			</tr>
		</tbody>

	</table>	

</div>	
